@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);

@media all {html {font-size: 24px;}}
@media all and (max-width:1000px){html {font-size: 24px;}}
@media all and (max-width:960px){html {font-size: 23px;}}
@media all and (max-width:920px){html {font-size: 22px;}}
@media all and (max-width:880px){html {font-size: 21px;}}
@media all and (max-width:840px){html {font-size: 20px;}}
@media all and (max-width:800px){html {font-size: 19px;}}
@media all and (max-width:760px){html {font-size: 18px;}}
@media all and (max-width:720px){html {font-size: 17px;}}
@media all and (max-width:680px){html {font-size: 16px;}}
@media all and (max-width:640px){html {font-size: 15px;}}
@media all and (max-width:600px){html {font-size: 14px;}}
@media all and (max-width:560px){html {font-size: 13px;}}

@media all and (max-width:520px) {
    html {font-size: 18px;}
}

@media all and (min-device-width:375px) and (max-device-width:667px) { }

* {
    margin: 0;
    padding: 0;
}

body, li p {
    font-family: 'Georgia', serif;
}

li {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    -moz-break-inside: avoid-column;
    -webkit-break-inside: avoid-column;
    -o-break-inside: avoid-column;
    -ms-break-inside: avoid-column;
    break-inside: avoid-column;
}

html {
    height: 100%;
}

body {
    padding: 0rem 0rem;

    margin-left:auto;
    margin-right:auto;
    width:95%;
    max-width:30rem;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'kern=1';
    -moz-font-feature-settings: 'kern' 1;
    -webkit-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    -ms-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;

    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga=1';
    -moz-font-feature-settings: 'liga' 1;
    -webkit-font-feature-settings: 'liga' 1;
    -o-font-feature-settings: 'liga' 1;
    -ms-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;

    position: relative; z-index: -10000;
}

body > * {
    font-size: 100%;
    max-width: 100%;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

body > header,footer {
    font-size: 0.8rem;
    font-variant: small-caps;
    text-align: center;
    padding: 0.5rem; 
    border-bottom: 2px #EEE solid;
}

body > footer {
    margin-bottom: 3rem;
}

article {
    padding-bottom: 1em;
    border-bottom: 1px #EEE solid;
    margin-bottom: 0;
    margin-top: 1em;
}

article header {
    margin-bottom: 1em;
}

article header .feed-title {
    color: gray;
    font-size: 0.7rem;
    vertical-align: middle;
}

article header .feed-title img {
    vertical-align: middle;
    padding-bottom: 4px;
}

article header .feed-title a {
    color: gray;
    text-decoration: none;
    font-variant: small-caps;
    vertical-align: middle;
}

article header h1 {
    font-size: 1.2rem;
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0.7rem auto;
}

article header h1 a {
    color: inherit;
    text-decoration: none;
}

article header .byline {
    font-size: 0.7rem;
    font-style: italic;
}

article header address, .timestamp {
    font-size: 0.7rem;
}

article > header address {
    display: inline;
    margin-right: 1em;
}

article header .timestamp time {
    display: inline;
}

article * {
    max-width: 100%;
    overflow-x: scroll;
}

article:after {
    clear: both;
}

article main {
    line-height: 1.4;
}

article > main h1,h2,h3,h4,h5,h6 {
    font-size: 1rem;
    font-weight: bold;
}

article main p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article main p:empty {
    display: none;
}

article main a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px #BBB dashed;
}

article main img {
    height: auto;
}

article figure {
    height: auto;
    margin: auto 0px;
}

article iframe {
    max-width: inherit;
}

article > main blockquote {
    line-height: 1.4;
    margin: 1rem auto;
    padding: 0em 1em;
    border-left: 1px #AAA dashed;
}

article > main ol, ul {
    margin: auto 1.5rem;
}

article > main li {
    padding-left: 1rem;
}

article > main caption,.wp-caption-text {
    font-size: 0.7rem;
    line-height: 130%;
    margin: auto 0.5rem;
}

article > main ul.related-links {
    list-style-type: none;
    margin: 0.5rem auto;
    padding-left: 0px;
}

article > main ul.related-links li {
    margin: 0 auto;
    padding: 0;
    max-width: inherit;
    font-size: 1rem;
    color: #222;
    border-bottom
}

article > main ul.related-links li::after {
    content: "";
    border-bottom:1px #EEE solid;
    width:20%;
    display:block;
    margin: 0.5rem auto 0.4rem;
}

article > main ul.related-links li:last-child:after {
    display:none;
}

article > main .related-links a {
    text-decoration: none;
    color: inherit;
    border: none;
    font-family: 'Archivo Narrow', sans-serif;
}

article > main .preformatted {
    white-space: pre-line;
    font-family: monospace;
}
